

 @font-face {
    font-family: Philosopher; 
    src: url(../fonts/Philosopher_Regular.ttf); 
   }

.row{
    padding: 0;margin: 0;
}
.container-fluid{
	padding: 0;margin: 0;
}


#block1{
height: 100%;
    width:100%;
    background-image: url(../images/kibrary2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#block2{
	position:absolute;
	top:847px;
	height: 700px;
    width:1100px;
    background-image: url(../images/post3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#block3{
	position:absolute;
	top:847px;
	height: 619px;
	left:1100px;
    width:800px;
    background-image: url(../images/post4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#block4{
	position:absolute;
	bottom:-833px;
	width:100%;
	background-color:rgba(230, 202, 158, 0.4);
	height:98px;
	z-index:4;
}

.menu{
    position: relative; 
    height:80px;
   background-color: rgba(0, 0, 0, 0.5);
}

html{
    height: 150%;
}

.nav-text{
    position:relative;
    top:25%;
    left:30%;
    font-size: 120%;
    font-family: Philosopher;
    color: white;
}
body{
   height: 120%;
   overflow-x:hidden;
}
#logout{
    position:absolute;
    width:10%;
    height:10%;
    right:0;
    top:0;
   
}

#outbutton{
    position: relative;
    background: transparent;
    border:none;
    outline:none;
    color:white;
    background: #03a9f4;
    padding:10px 20px;
    cursor:pointer;
    border-radius: 5px;
    font-size: 14px;
    top:20%;
    left:20%;
}



